/* @keyframes expanding {
    0% {
        transform: translateY(-100vh);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes collapsing {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-100vh);
        opacity: 0;
    }
} */

#headerWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#theHeadContainer {
    position: relative;
    background-color: var(--fill-accent-3);
    width: 100%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#navLogoLong {
    width: 341.25px;
    aspect-ratio: 455/67;
    display: none;
}

#navLogoShort {
    height: 50.25px;
    aspect-ratio: 1/1;
    display: none;
}

#navLogoLong.navLogoLong {
    display: block;
}

#navLogoShort.navLogoShort {
    display: block;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 0 20px;
    border-bottom: 1px solid white;
}

.navbar-brand {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-brand-link:hover {
    cursor: pointer;
}

.navbar-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 100%;
}

.navbar-start {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    height: 100%;
}

.navbar-item {
    position: relative;
    list-style: none;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    padding: 0 10px;
}

.navbar-item:hover:not(#serviceMenuNavbar) {
    background-color: rgba(237, 233, 225, 0.41);
    cursor: pointer;
}

#serviceMenuNavbarContainer:has(#serviceMenuNavbar:hover) {
    background-color: rgba(237, 233, 225, 0.41);
    cursor: pointer;
}

#colorServicesNavbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font: normal normal 700 21px / 1.41em josefin-sans, 'josefin sans', sans-serif;
    text-decoration: none;
    text-wrap: nowrap;
    color: var(--text-primary);
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    display: none;
    transition: opacity 0.5s ease, background-color 0.3s ease;
}

#colorServicesNavbar.showDropdown {
    display: flex;
}

#colorServicesNavbar.navDropdown {
    opacity: 1;
}

#colorServicesNavbar:hover {
    background-color: rgb(228, 223, 221);
}

.navbar-link {
    font: normal normal 700 21px / 1.41em josefin-sans, 'josefin sans', sans-serif;
    text-decoration: none;
    text-wrap: nowrap;
    color: var(--text-primary);
}

.navbar-social-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.navbar-social-link {
    position: relative;
}

.navbar-social-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, transparent, #fffffe, transparent);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.navbar-social-link:hover::after {
    opacity: 1;
}

@media screen and (max-width: 1264px) {
    .navbar-social {
        display: none;
    }
}

@media screen and (max-width: 1107px) {
    .navbar-brand-link {
        display: none;
    }
}

@media screen and (max-width: 1058px) {
    /* .nav-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    } */

    #root {
        overflow-x: hidden;
    }

    #navbar.navbar-mobile {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100dvh;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        padding: 0;
    }

    #navbar.navbar-mobile:has(.navbar-menu-hidden) {
        height: auto;
    }

    .navbar-brand {
        background-color: var(--fill-accent-3);
        padding: 20px;
        z-index: 1001;
        overflow: hidden;
        flex-shrink: 0;
        border-bottom: 1px solid white;
    }

    #clientNavBar {
        z-index: 1001;
    }

    /* #serviceMenuNavbarContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }

    #colorServicesNavbar {
        transition: opacity none;
        position: relative;
        background-color: transparent;
        box-shadow: none;
        display: flex;
        opacity: 1;
        width: auto;
        height: auto;
        top: 0;
    } */

    .navbar-brand-link {
        display: flex;
        margin: 0;
        width: 80%;
        transform: translateX(0);
        background-color: var(--fill-accent-3);
        transition: transform 1s ease-in-out;
        z-index: 1002;
    }

    .navbar-brand-link-expanded {
        transform: translateX(40px);
    }

    #navLogoLong {
        width: 100%;
        margin: 0;
    }

    #navExpand {
        /* display: none; */
        width: 10%;
        aspect-ratio: 1;
        margin: 0 0 0 20px;
        fill: var(--fill-background-primary);
        transform: translateX(0);
        transition: transform 1s ease-in-out;
    }

    #navExpand.navExpandOpen {
        transform: translateX(-100%);
    }

    #navCollapse {
        width: 40px;
        height: 40px;
        margin: 0 20px 0 0;
        fill: var(--text-primary);
        flex-shrink: 0;
    }

    .navbar-menu {
        /* flex: 1; */
        flex-direction: column;
        justify-content: flex-start;
        background-color: var(--fill-accent-3);
        transform: translateY(-100vh);
        transition: transform 1s ease-in-out;
        width: 100%;
        display: none;
    }

    .navbar-start-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .navbar-item {
        width: 100%;
    }

    .navbar-menu-display {
        display: flex;
    }

    .navbar-menu-hidden {
        display: none;
    }

    .navbar-menu-expanded {
        transform: translateY(0);
    }

    .navbar-menu-collapsed {
        transform: translateY(-100vh);
    }
}