#serviceMenuWelcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--fill-accent-4);
    width: 100%;
    padding: 20px;
}

#serviceMenuWelcomeHeader {
    font: var(--font-style-h5);
    color: var(--fill-background-primary);
    font-size: 50px;letter-spacing: 0em;
    padding: 0;
    margin: 0;
}

#serviceMenuWelcomeText {
    font: var(--font-style-body-medium);
    color: var(--fill-background-primary);
    font-size: 23px;
    text-align: center;
    letter-spacing: 0em;
}

#serviceMenuWelcomeLink {
    letter-spacing: 0.1em;
    font-family: josefin-sans, 'josefin-sans', sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 700;
    color: var(--button-text-secondary);
    text-decoration: none;
    background-color: var(--button-fill-secondary);
    padding: 10px 40px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#serviceMenuWelcomeLink:hover {
    background-color: var(--button-fill-secondary-hover);
    color: var(--button-text-secondary-hover);
}

.serviceMenuContainer {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 15px;
}

.serviceMenuContainer:nth-last-child(1) {
    margin-bottom: 0;
}

.serviceMenuImgCon {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    /* flex: 1; */
    /* width: 40%; */
}

.serviceMenuImg {
    height: 100%;
}

.serviceMenuInfoCon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    overflow: hidden;
}

.serviceMenuInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 600px;
    padding: 10px;
}

.serviceMenuHeaderCon {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.serviceMenuHeader {
    font: var(--font-style-h4);
    font-size: 26px;
    line-height: normal;
    color: var(--title);
    letter-spacing: 0em;
}

.serviceMenuHeader::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 1px;
    background-color: var(--fill-accent-4);
    bottom: 0px;
    left: 0;
}

.serviceMenuLink {
    font: var(--font-style-body-small);
    color: var(--button-text-primary);
    text-decoration: none;
    margin: 0 10px;
    background-color: var(--button-fill-primary);
    padding: 10px 20px;
    box-shadow: 1.93px 2.30px 8px 0px rgba(0, 0, 0, 0.45);
    transition: background-color 0.3s ease;
}

.serviceMenuLink:hover {
    background-color: rgba(195, 135, 135, 0.6);
}

.serviceMenuList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    padding: 0 40px;
}

.serviceMenuListItem {
    font: var(--font-style-body-medium);
    color: var(--text-primary);
    letter-spacing: 0em;
    font-size: 18px;
}

.serviceMenuStrongListItem {
    font-weight: bold;
}

#serviceMenuColorServicesLink {
    font: var(--font-style-body-small);
    color: var(--button-text-primary);
    text-decoration: none;
    margin: 0;
    font-size: 23px;
    background-color: var(--fill-accent-4);
    padding: 5px 15px;
    box-shadow: 1.93px 2.30px 8px 0px rgba(0, 0, 0, 0.45);
    align-self: flex-start;
    transition: background-color 0.3s ease;
}

#serviceMenuColorServicesLink:hover {
    background-color: rgba(195, 135, 135, 0.6);
}

@media screen and (max-width: 1260px) {
    .serviceMenuInfo {
        width: 100%;
    }
}

@media screen and (max-width: 1126px) {
    #serviceMenuServices {
        padding-top: 20px;
    }

    .serviceMenuContainer {
        flex-direction: column;
        align-items: center;
    }

    .serviceMenuImgCon {
        width: 80%;
    }
}

@media screen and (max-width: 1058px) {
    #serviceMenuWelcome {
        padding: 7vw 20px 20px 20px;
    }

    .serviceMenuInfoCon {
        width: 80%;
    }

    .serviceMenuHeaderCon {
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
    }

    .serviceMenuHeader::after {
        width: 100%;
        left: 0;
    }

    .serviceMenuHeader {
        text-align: center;
    }
}